@charset 'utf-8';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #111;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
  font-family: 'G마켓 산스';
}
.main-image-wrapper{
  display: flex;
  justify-content: center;
  padding-top: 138px;
}

.intro-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 320px;
  color: #fff;
  text-align: center;
  margin: 54px auto 0;
  font-size: 40px;
  font-weight: 500;
}

#join-us-text{
  opacity: .6;
  color: #fff;
  font-size: 16px;
  margin: 73px auto 0;
}

#down-arrow-icon{
  width: 33px;height: 23px;
  animation: upAndDown 1s infinite;
}

@keyframes upAndDown{
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}

.list-item-wrapper{
  margin: 0 auto;
  width: 383px;
  margin-bottom: 200px;
}

.list-item{
  display: inline;
  font-size: 48px;
  font-weight: 600;
}

.list-item:before{
  display: inline-block;
  background-image: url('./dark_house.png');
  background-size: 51px 53px;
  content: '';
  width: 51px;
  height: 53px;
}

.list-item#on{
  color: #fff;
}

.list-item#on::before{
  background-image: url('./light_house.png');
}

#panel1-img{
  position: relative;
  height: 380px;
  overflow: hidden;
  margin-bottom: 1500px;
}

#flying-santa{
  height: 380px;
  position: absolute;
  right: -80px;
  transform: translate(80px, -13px) rotate(23deg);
}